<% wrap_layout :layout do %>
  <article class="mw7 center bg-light-gray pa4">
    <h1><%= current_page.data.title %></h1>

    <%= image_tag current_page.data.image if current_page.data.image %>

    <%= yield %>

    <% if related_ingredients(current_page).any? %>
      <h3>Goes well with:</h3>
    <% end %>

    <% related_ingredients(current_page).each do |ingredient| %>
      <a href="<%= ingredient.url %>">
        <%= ingredient.title %>
      </a>
    <% end %>
  </article>
<% end %>
